<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display:flex;
    justify-content:center">
        <h1>Edit Show {{shows.id}}</h1>
    </div>
</body>
<div style="display:flex;
    justify-content:center">

    <form action="/shows/{{shows.id}}/submit_edit" method="post">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
        <br>
        <br>
        <label for="network">Network</label>
        <input type="text" name="network" id="{{network}}">
        <br>
        <br>
        <label for="release_date">Release Date</label>
        <input type="date" name="release_date" id="release_date">
        <br>
        <br>
        <h3>Description</h3>
        <textarea name="desc" id="description" cols="30" rows="10"></textarea>
        <br>
        <br>
        <input type="submit" value="Update" href="/shows/{{show.id}}/submit_edit">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %} style="color: red;">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
</div>
</form>

</html>